{
  "presets": ["module:metro-react-native-babel-preset"],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
      "cwd": "babelrc",
      "alias": {
        "@assets": "./src/venders",
        "@utilss": "./src/utils",
        "@lego": "./src/lego"
      }
    }]
  ]
}
